body
{
  margin: 0;
  padding: 0;
  background-image: url(bg.jpeg);
}
.carousel
{
  transform: translateY(-50px);
  height: 750px;
  perspective: 600px;
}
.carousel .carousel-item
{
  width: 400px;
}
.carousel .carousel-item img
{
  width: 100%;
}
.carousel .carousel-item h3
{
  margin: -5px 0 0;
  padding: 0;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
header
{
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.logo
{
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  color: #069370;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav
{
  float: right;
}
.clearfix
{
  clear: both;
}
nav ul{
  margin: 0;
  padding:0;
  display: flex;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover{
background: #069370;
color: #fff;
transition: 0.5s;
}
